
.travelData{
	display:inline-block;	
	width: 24%;
	vertical-align:top;
	color: #333;
}

.travelSeat{
	width: 25%;
	float:left;
}

.travelHelps{
		
}
.travelLeyend{
	float: left;	
}

.travelLeyendImg{
	width: 48px;
	height: 48px;
	float: left;
}

.travelLeyendImg img{
	width: 100%;
	height: 100%;
}

#travelDetail, #travelPayForm, #travelActions {
	width: 60%;
	padding:10px;
	background-color: #FFF;
	border-radius: 6px;
	margin-bottom: 10px;
}

#travelActions {
	text-align:right;
}


/******************************************************************
* Pricing Table
******************************************************************/
.priceBlock{
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.priceTitle, .priceFooter{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.priceContent{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}

.priceContent:after, .priceContent:before,.priceFooter:before,.priceFooter:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.priceFooter:after,.priceFooter:before{
    top:0;
}
.priceContent:after,.priceFooter:after {
	border-color: rgba(136, 183, 213, 0);	
	border-width: 5px;
	margin-left: -5px;
}


.priceValue{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.priceValue span{    
    font-size: 6rem;
    font-weight: bold;        
}
.priceValue sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 20px;
    left: -10px;
}

.priceHint{
    font-style: italic;
    font-size: 0.9rem;
}

.pricePoints{
    list-style-type: none;    
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.9rem;
}
.pricePoints li{
    padding:15px 0;
    width: 100%;
}
.pricePoints li span{
   padding-right: 0.4rem; 
}

.priceFooter{
    font-size: 0.95rem;
    text-transform: capitalize;
}

.colorOne .priceTitle{        
    background: #78CFBF;    
}
.colorOne .priceContent,.colorOne .priceFooter{
    background: #82DACA;
}
.colorOne .priceContent:after{	
	border-top-color: #82DACA;	
}
.colorOne .priceFooter:after{
    border-top-color: #FFFFFF;
}

.colorTwo .priceTitle{
    background: #3EC6E0;
}
.colorTwo .priceContent,.colorTwo .priceFooter{
    background: #53CFE9;
}
.colorTwo .priceContent:after{	
	border-top-color: #53CFE9;	
}
.colorTwo .priceFooter:after{
    border-top-color: #FFFFFF;
}

.colorThree .priceTitle{
    background: #E3536C;
}
.colorThree .priceContent,.colorThree .priceFooter{
    background: #EB6379;
}
.colorThree .priceContent:after{	
	border-top-color: #EB6379;	
}
.colorThree .priceFooter:after {	
	border-top-color: #FFFFFF;	
}

/*
.customRow{
	display: table;
  	content: " ";
}

#travelCar{
	width: 60%;
	min-height: 50%;
	background-repeat:no-repeat;
	background-position: center top;
	background-size: 100%;
}

#travelSeats{
	width: 22%;
	padding-top: 5%;
	padding-bottom: 7%;
}

#travelSeats img{
	width: 100%;
}

/*.pageFormat{
	width:100%;
	min-height:100%;
	background-color: #6A8B92;
}

.pageLayout{
	width:100%;
	height:100%;
	position:fixed;
	min-height:100%;
}

.pageContent{
	width:100%;
	height:100%;
	text-align: -webkit-center;
}

#loginForm{
	width: 30%;
	background-color: #819FA3;
	padding:10px;
	border-radius: 10px;
}

#loginMessage{
	width: 30%;
}

#registerForm{
	width: 40%;
	background-color: #819FA3;
	padding:10px;
	border-radius: 10px;
	text-align: left;
}

#registerMessage{
	width: 30%;
}

#filterForm{
	width: 40%;
	background-color: #819FA3;
	padding:10px;
	border-radius: 10px;
	text-align:left;
}

#filteMessage{
	width: 40%;
}

#filterList{
	width: 60%;
	color:#333;
	margin: 10px;
}

#travelDetail, #travelPayForm, #travelActions {
	width: 60%;
	padding:10px;
	background-color: #FFF;
	border-radius: 6px;
	margin-bottom: 10px;
}

#travelActions {
	text-align:right;
}

#travelCar{
	width: 60%;
	min-height: 50%;
	background-image: url(../img/carTravel.png);
	background-repeat:no-repeat;
	background-position: center top;
	background-size: 100%;
}

#travelSeats{
	width: 22%;
	padding-top: 5%;
	padding-bottom: 7%;
}

#travelSeats img{
	width: 100%;
}

#travelHelp{
	width: 60%;
	height:100px;
}

/******************************************************************
* Pricing Table
****************************************************************** /
.priceTable * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.priceTable {
    width: 100%;
    text-align: center;
}

.priceBlock{
    width: 30%;    
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
*/