Options -MultiViews

RewriteEngine On
RewriteOptions AllowNoSlash

Options -Indexes 

RewriteBase /meansJobs/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?url=$1 [B]